* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --duration: 1.5s;
    --container-size: 250px;
    --box-size: 35px;
    --box-border-radius: 15%;
}

body {
    overflow: hidden;
    font-family: DM Sans, sans-serif;
    background-color: #1795ff;
}

.preloader {
    /* background-color: #0D2142; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.preloader__bar-container {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.preloader__bar {
    width: calc(100vw / 14);
    height: 110vh;
    background-color: #0D2142;
}

.preloader.hidden {
    display: none;
}

.content {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.hero-img {
    width: 280px;
    border-radius: 50px;
    margin: 50px 0;
}

.wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper.hidden {
    display: none;
}

.title {
    font-size: 68px;
    font-weight: 900;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;

}

.title span {
    background-image: linear-gradient(90deg, rgba(235, 183, 38, 1) 0%, rgba(253, 244, 189, 1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

.crypto-img {
    position: absolute;
    width: 85px;
    height: 85px;
}

.crypto-img:nth-child(3) {
    right: 200px;
    top: 20%;
}

.crypto-img:nth-child(4) {
    left: 25%;
    top: 55%;
}

.crypto-img:nth-child(5) {
    left: 50%;
    top: 0;
}

.crypto-img:nth-child(7) {
    left: 20px;
    top: 40px;
}

.crypto-img:nth-child(6) {
    right: 20%;
    bottom: 20%;
}

@keyframes flip {
    0% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(360deg);
    }
}

/* .show-coin {
animation: show-coin 1s forwards;
} */

@keyframes show-coin {
    0% {
        opacity: .3;
        transform: scale(.3);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.loader {
    width: var(--container-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.box {
    width: var(--box-size);
    height: var(--box-size);
    position: relative;
    display: block;
    transform-origin: -50% center;
    border-radius: var(--box-border-radius);
}

.box:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: lightblue;
    border-radius: var(--box-border-radius);
    box-shadow: 0px 0px 10px 0px rgba(28, 159, 255, 0.4);
}

.box:nth-child(1) {
    animation: slide var(--duration) ease-in-out infinite alternate;
}

.box:nth-child(1):after {
    animation: color-change var(--duration) ease-in-out infinite alternate;
}

.box:nth-child(2) {
    animation: flip-1 var(--duration) ease-in-out infinite alternate;
}

.box:nth-child(2):after {
    animation: squidge-1 var(--duration) ease-in-out infinite alternate;
    background-color: #1c9fff;
}

.box:nth-child(3) {
    animation: flip-2 var(--duration) ease-in-out infinite alternate;
}

.box:nth-child(3):after {
    animation: squidge-2 var(--duration) ease-in-out infinite alternate;
    background-color: #1fb1fd;
}

.box:nth-child(4) {
    animation: flip-3 var(--duration) ease-in-out infinite alternate;
}

.box:nth-child(4):after {
    animation: squidge-3 var(--duration) ease-in-out infinite alternate;
    background-color: #22c7fb;
}

.box:nth-child(5) {
    animation: flip-4 var(--duration) ease-in-out infinite alternate;
}

.box:nth-child(5):after {
    animation: squidge-4 var(--duration) ease-in-out infinite alternate;
    background-color: #23d3fb;
}

.box:nth-child(6) {
    animation: flip-5 var(--duration) ease-in-out infinite alternate;
}

.box:nth-child(6):after {
    animation: squidge-5 var(--duration) ease-in-out infinite alternate;
}

@keyframes slide {
    0% {
        background-color: #1795ff;
        transform: translatex(0vw);
    }

    100% {
        background-color: #23d3fb;
        transform: translatex(calc(var(--container-size) - (var(--box-size) * 1.25)));
    }
}

@keyframes color-change {
    0% {
        background-color: #1795ff;
    }

    100% {
        background-color: #23d3fb;
    }
}

@keyframes flip-1 {

    0%,
    15% {
        transform: rotate(0);
    }

    35%,
    100% {
        transform: rotate(-180deg);
    }
}

@keyframes squidge-1 {
    5% {
        transform-origin: center bottom;
        transform: scalex(1) scaley(1);
    }

    15% {
        transform-origin: center bottom;
        transform: scalex(1.3) scaley(0.7);
    }

    25%,
    20% {
        transform-origin: center bottom;
        transform: scalex(0.8) scaley(1.4);
    }

    55%,
    100% {
        transform-origin: center top;
        transform: scalex(1) scaley(1);
    }

    40% {
        transform-origin: center top;
        transform: scalex(1.3) scaley(0.7);
    }
}

@keyframes flip-2 {

    0%,
    30% {
        transform: rotate(0);
    }

    50%,
    100% {
        transform: rotate(-180deg);
    }
}

@keyframes squidge-2 {
    20% {
        transform-origin: center bottom;
        transform: scalex(1) scaley(1);
    }

    30% {
        transform-origin: center bottom;
        transform: scalex(1.3) scaley(0.7);
    }

    40%,
    35% {
        transform-origin: center bottom;
        transform: scalex(0.8) scaley(1.4);
    }

    70%,
    100% {
        transform-origin: center top;
        transform: scalex(1) scaley(1);
    }

    55% {
        transform-origin: center top;
        transform: scalex(1.3) scaley(0.7);
    }
}

@keyframes flip-3 {

    0%,
    45% {
        transform: rotate(0);
    }

    65%,
    100% {
        transform: rotate(-180deg);
    }
}

@keyframes squidge-3 {
    35% {
        transform-origin: center bottom;
        transform: scalex(1) scaley(1);
    }

    45% {
        transform-origin: center bottom;
        transform: scalex(1.3) scaley(0.7);
    }

    55%,
    50% {
        transform-origin: center bottom;
        transform: scalex(0.8) scaley(1.4);
    }

    85%,
    100% {
        transform-origin: center top;
        transform: scalex(1) scaley(1);
    }

    70% {
        transform-origin: center top;
        transform: scalex(1.3) scaley(0.7);
    }
}

@keyframes flip-4 {

    0%,
    60% {
        transform: rotate(0);
    }

    80%,
    100% {
        transform: rotate(-180deg);
    }
}

@keyframes squidge-4 {
    50% {
        transform-origin: center bottom;
        transform: scalex(1) scaley(1);
    }

    60% {
        transform-origin: center bottom;
        transform: scalex(1.3) scaley(0.7);
    }

    70%,
    65% {
        transform-origin: center bottom;
        transform: scalex(0.8) scaley(1.4);
    }

    100%,
    100% {
        transform-origin: center top;
        transform: scalex(1) scaley(1);
    }

    85% {
        transform-origin: center top;
        transform: scalex(1.3) scaley(0.7);
    }
}

@keyframes flip-5 {

    0%,
    75% {
        transform: rotate(0);
    }

    95%,
    100% {
        transform: rotate(-180deg);
    }
}

@keyframes squidge-5 {
    65% {
        transform-origin: center bottom;
        transform: scalex(1) scaley(1);
    }

    75% {
        transform-origin: center bottom;
        transform: scalex(1.3) scaley(0.7);
    }

    85%,
    80% {
        transform-origin: center bottom;
        transform: scalex(0.8) scaley(1.4);
    }

    100% {
        transform-origin: center top;
        transform: scalex(1) scaley(1);
    }

    100% {
        transform-origin: center top;
        transform: scalex(1.3) scaley(0.7);
    }
}